#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #eb8934;
    color: #454240;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
  
    color: #144e80;
    text-decoration: none;
}

a:hover {
    color: #388014;
}

a:visited {
    color: #144e80;
}